%html
  %head
    %title Tys
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body
  .nav
    - if session[:user_id]
      = form_tag user_search_path, method: :get do
        = text_field_tag :search_params, params[:search_params]
        = submit_tag "Search"
      = link_to  "Trace Your Stack", user_applications_path(current_user), method: :get
    - else
      = form_tag search_results_path, method: :get do
        = text_field_tag :search_params, params[:search_params]
        = submit_tag "Search"
      = link_to "Homepage", root_path, method: :get
  #notifications
  = yield
  - if session[:notice]
    = session[:notice]
