%h1 Application list:

%ul
  - current_user.applications.each do |application|
    /TODO order application by role
    %li
      = application.application_name

      - if application.author == current_user.name
        Role:
        = "team leader"
        = button_to 'Delete', user_application_path(current_user, application), :method => :delete
      - else
        Role:
        = "contributor"
      = link_to "Go to the app page",
        user_application_path(current_user, application), method: :get

= button_to "Add a new application",
            new_user_application_path(current_user),
            method: :get
= button_to "Logout", users_logout_path, method: :get
