.container-fluid
  .row
    .col-md-12.col-md-offset-0
      .page-header
        .btn-toolbar.pull-right
          .btn-group
            = button_to "New Application", new_user_application_path(current_user), method: :get, :class => "btn btn-success"
        %h1.text-info
          Your Application List
  .row
    .col-md-6
      %h3.text-info Team Leader Apps
      %ul.list-group
        - unless @applications == []
          - @applications.each do |application|
            %li.list-group-item
              %span
                .btn-toolbar.pull-right
                  .btn-group
                    = link_to user_application_path(application.author, application), :class => "btn btn-info btn-sm" do
                      %i.glyphicon.glyphicon-eye-open
                    = link_to user_application_path(application.author, application), :method => :delete, :class => "btn btn-danger btn-sm" do
                      %i.glyphicon.glyphicon-trash
                = application.application_name
        - else
          %li.list-group-item
            %span No Team Leader applications (yet)
      %h3.text-info Contributor Apps
      %ul.list-group
        - counter = 0
        - current_user.applications.each do |application|
          - unless application.author == current_user.name
            %li.list-group-item
              %span
                .btn-toolbar.pull-right
                  .btn-group
                    = link_to user_application_path(application.author, application), :class => "btn btn-info btn-sm" do
                      %i.glyphicon.glyphicon-eye-open
                = application.application_name
            - counter = counter + 1
        - if counter == 0
          %li.list-group-item
            %span No Contributor applications (yet)
    .col-md-6
      - unless @pending == []
        %h3.text-danger Pending requets
        %ul.list-group
          - @pending.each do |inv|
            %li.list-group-item
              %span
                .btn-toolbar.pull-right
                  = button_to user_application_invitation_path(current_user, inv.application_id, inv), method: :delete, :class => "btn btn-success btn-danger btn-sm" do
                    %i.glyphicon.glyphicon-trash
                = "#{inv.target_name} for APP_NAME"

      - unless @invitations == []
        %h3.text-danger Invitations
        %ul.list-group
          - @invitations.each do |inv|
            %li.list-group-item
              %span
                = "#{inv.leader_name} for APP_NAME"
              = button_to user_application_invitation_accept_invitation(inv.leader_name, inv.application_id, inv, inv.invite_token), method: :get, class: "btn btn-success btn-danger btn-sm"
              = button_to user_application_invitation_path(current_user, inv.application_id, inv), method: :delete, :class => "btn btn-success btn-danger btn-sm" do
                %i.glyphicon.glyphicon-trash

= form_tag subscribe_mail_path, method: :get do
  = email_field_tag :email, params[:email], placeholder: "Send an invitation mail"
  = submit_tag "Send"
