%h1= "Details about #{@application.application_name}"
%ul
  %li
    Name:
    = @application.application_name
  %li
    Author:
    = @application.author
  %li
    programming_language:
    = @application.programming_language

%h2 Stack Traces list:
%table
  %thead
    %tr
      %th Application Version
      %th Issues
      %th Create Issue
      %th Details
  - @reports.each do |stack|
    %tr
      %td= stack.application_version
      - # %td= check_box_tag "Fixed", "1", stack.fixed
      %td= link_to "Issues", "#"
      %td= link_to "Create issue", "#"
      %td= link_to "Details", "#"

= link_to 'See the team members list', application_team_members_path
= link_to 'See the GitHub repo', @application.github_repository
