.container
  .row
    .col-md-12.col-md-offset-0
      .page-header
        .btn-toolbar.pull-right
          .btn-group
        %h1.text-info
          = "#{@application.application_name}"
          %small
            = "by #{@application.author}, developed in #{@application.programming_language}"
  .row
    .col-md-6
      .post
        .post-heading
          %h1.text-success Feedbacks
          .post-footer
            -unless @feedbacks == []
              %ul.list-group.comments-list
                - @feedbacks.each do |c|
                  -unless c.parent_id
                    = render partial: "comments", locals: {c: c}
            -else
              Nobody left a feedback. Wanna be the first?
    .col-md-6
      %ul.list-group
        %li.list-group-item
          = form_tag application_feedbacks_path(@application), method: :post do
            .page-header
              .btn-toolbar.pull-right
                .btn-group
                  = submit_tag "Send", class: "btn btn-sm btn-success"
              %h2.text-info
                Create a new feedback
            %h3.text-info
              Text
            = text_area_tag  :text, '', class: 'form-control', rows: '5', cols: '100'

            %h3.text-info
              User name
            = text_field_tag :user_name, '', :class => 'form-control'

            %h3.text-info
              Feedback type
            = select_tag :feedback_type, options_for_select(["Bug Report", "Feedback"], "Bug Report"), required: true

            %h3.text-info
              Email (optional)
            = email_field_tag :email, 'example@mail.com', :class => 'form-control', required: false
