.container
  .row
    .col-md-12.col-md-offset-0
      .page-header
        .btn-toolbar.pull-right
          .btn-group
            = link_to 'Team members list', application_contributors_path(@application), :class => "btn btn-info"
            - unless @application.github_repository == ""
              = link_to 'GitHub repository', "https://github.com/#{@application.github_repository}", :class => "btn btn-info"
              - if session[:user_id] == @application.author
                = link_to('Add github collaborators to the team', user_application_add_github_contribs_path(@application.author,
                  @application,
                  @github_param), method: :post, :class => "btn btn-info")
        %h1.text-info
          = "#{@application.application_name}"
          %small
            = "by #{@application.author}, developed in #{@application.programming_language}"
  .row
    .col-md-12
      - unless @reports == []
        .page-header
          .btn-toolbar.pull-right
            .btn-group
              .dropdown
                %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  Sort by
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to "App version", user_application_path(@application.author, @application, sort_mode: 1), method: :get
                  %li
                    = link_to "Alhabetical order", user_application_path(@application.author, @application, sort_mode: 2), method: :get
                  %li
                    = link_to "Frequency", user_application_path(@application.author, @application, sort_mode: 3), method: :get
                  %li
                    = link_to "Fixed Status", user_application_path(@application.author, @application, sort_mode: 4), method: :get
          %h3.text-info
            = "Stack Trace list"
        .table
          .table-responsive
            %table.table
              %thead
                %tr
                  %th.info
                    Stack Traces
                  %th.info
                    Version
                  %th.info
                    Fixed
                  %th.info
                    Issues
              %tbody
                - @reports.each do |stack|
                  %tr
                    %td
                      %span
                        .btn-toolbar
                          .btn-group
                            = link_to "#{stack.stack_trace_message}", user_application_stack_trace_path(@application.author, @application, stack)
                    %td
                      = stack.application_version
                    - if stack.fixed
                      %td= button_to "Fixed", user_application_stack_trace_path(@application.author, @application, stack), method: :put, :class => "btn btn-success btn-xs"
                    - else
                      %td= button_to "Not fixed", user_application_stack_trace_path(@application.author, @application, stack), method: :put, :class => "btn btn-danger btn-xs"
                    %td
                      .btn-toolbar
                        .btn-group
                          = link_to "Issues", user_application_stack_trace_issues_path(@application.author, @application, stack), :class => "btn btn-xs btn-info"
                          = link_to new_user_application_stack_trace_issue_path(@application.author, @application, stack), :class => "btn btn-xs btn-success" do
                            %strong +
      - else
        %h3.text-info
          .page-header
            = "Stack Trace list"
        %h5.text-muted
          (Nothing to show)
      .col-md-12
        .post
          .post-heading
            %h3.text-info Feedbacks
            .post-footer
              -unless @feedbacks == []
                %ul.list-group.comments-list
                  - @feedbacks.each do |c|
                    -unless c.parent_id
                      = render partial: "comments", locals: {c: c}
              - else
                %h5.text-muted
                  (Nothing to show)
