.container-fluid
  .row
    .col-md-12.col-md-offset-0
      .page-header
        .btn-toolbar.pull-right
          .btn-group
            = link_to 'Team members list', application_contributors_path(@application), :class => "btn btn-info"
            - unless @application.github_repository == ""
              = link_to 'GitHub repository', "https://github.com/#{@application.github_repository}", :class => "btn btn-info"
              - if session[:user_id] == @application.author
                = link_to('Add github collaborators to the team', user_application_add_github_contribs_path(@application.author,
                  @application,
                  @github_param), method: :post, :class => "btn btn-info")
        %h1.text-info
          = "#{@application.application_name}"
          %small
            = "by #{@application.author}, developed in #{@application.programming_language}"
  .row
    .col-md-12.col-md-offset-0
      - unless @reports == []
        .page-header
          .btn-toolbar.pull-right
            .btn-group
              = link_to "Sort by", "#", :class => "btn btn-default btn-sm", :disabled => "disabled"
              = link_to "App version", user_application_path(@application.author, @application), method: :get, params: { sort_mode: 1 }, :class => "btn btn-info btn-sm"
              = link_to "Alhabetical order", user_application_path(@application.author, @application), method: :get, params: { sort_mode: 2 }, :class => "btn btn-info btn-sm"
              = link_to "Frequency", user_application_path(@application.author, @application), method: :get, params: { sort_mode: 3 }, :class => "btn btn-info btn-sm"
          %h3.text-info
            = "Stack Trace list"
        .table
          .table-responsive
            %table.table
              %thead
                %tr
                  %th.info
                    Stack Traces
                  %th.info
                    Version
                  %th.info
                    Fixed
                  %th.info
                    Issues
              %tbody
                - @reports.each do |stack|
                  %tr
                    %td= stack.stack_trace_message
                    %td= stack.application_version
                    - if stack.fixed
                      %td= button_to "Fixed", user_application_stack_trace_path(@application.author, @application, stack), method: :put, :class => "btn btn-success btn-xs"
                    - else
                      %td= button_to "Not fixed", user_application_stack_trace_path(@application.author, @application, stack), method: :put, :class => "btn btn-danger btn-xs"
                    %td= link_to "Issues page", "#"
      - else
        %h3.text-info
          .page-header
            = "Stack Trace list"
        %h5.text-muted
          (Nothing to show)
    .row
      .col-md-12.col-md-offset-0
        - unless @feedbacks == []
          %h2 Feedbacks List:
          - @feedbacks.each do |f|
            %p= f.user_name
            %b Text:
            %p= f.text
            %p= f.feedback_type
            =button_to "Answer", application_new_feedback_path(@application, f.id), :method => :get
            =button_to "Edit", edit_application_feedback_path(@application, f.id), :method => :get if f.user_name == session[:user_id]
            =button_to "Delete", application_feedback_path(@application, f.id), :method => :delete if f.user_name == session[:user_id]
            %br
