<!DOCTYPE html>

%html
  %body
    Stack Trace details
    %table
      %td
        %tr Exception type:
        %tr= @report.error_type
        %tr Calls stack:
        %tr= @report.stack_trace_text
    %table
      %td
        Devices:
        %ul
          - @devices.each do |device|
            %li= device
      %td
        %tr Most recent:
        %tr= @most_recent.to_s
        %tr= @first_time.to_s
