<!DOCTYPE html>

%html
  %body
    Stack Trace details
    %table
      %td
        %tr Exception type:
        %tr= @report.error_type
        %tr Calls stack:
        %tr= @report.stack_trace_text
    %table
      %thead
        %tr
          %th Device
          %th Crashes
      - @devices.each do |device|
        %tr
          %td= device[0]
          %td= device[1]
    %table
      %td
        %tr Most recent:
        %tr= @most_recent.to_s
        %tr= @first_time.to_s
