<!DOCTYPE html>

%html
  %body
    Stack Trace details
    %table
      %td
        %tr Exception type:
        %tr= @report.error_type
        %tr Calls stack:
        %tr
          %pre{ class: 'brush: csharp' }
            =@report.stack_trace_text
    %table
      %thead
        %tr
          %th Device
          %th Crashes
      - @devices.each do |device|
        %tr
          %td= device[0]
          %td= device[1]
    %table
      %td
        - if (@most_recent)
          %tr Most recent:
          %tr= @most_recent.crash_time.to_s
        - if (@first_time)
          %tr First time:
          %tr= @first_time.crash_time.to_s
