.container
  .row
    .col-md-12.col-md-offset-0
      .page-header
        .btn-toolbar.pull-right
          .btn-group
        %h1.text-info
          Stack Trace details
  .row
    .col-md-6
      %h3.text-info Exception type
      %ul.list-group
        %li.list-group-item
          = @report.error_type
    - if @report.stack_trace_message
      .col-md-6
        %h3.text-info Message
        %ul.list-group
          %li.list-group-item
            = @report.stack_trace_message
  .row
    .col-md-12
      %h3.text-info Call stack
      - if @report.application.programming_language == 'C#'
        %pre{ class: 'brush: csharp' }
          = @report.stack_trace_text
      - elsif @report.application.programming_language == 'Java'
        %pre{ class: 'brush: java' }
          = @report.stack_trace_text
      - elsif @report.application.programming_language == 'Objective-C'
        %pre{ class: 'brush: java' }
          = @report.stack_trace_text
  .row
    .col-md-6
      %h3.text-info Exception date
      %ul.list-group
        %li.list-group-item
          - if (@most_recent)
            = "Most recent: #{@most_recent.crash_time.to_s}"
          - else
            Most recent: Unknown
        %li.list-group-item
          - if (@first_time)
            = "First time: #{@first_time.crash_time.to_s}"
          - else
            First time: Unknown
    .col-md-6
      %h3.text-info Occurrencies
      .table
        .table-responsive
          %table.table
            %thead
              %tr
                %th
                  Device
                %th
                  Crash times
            %tbody
              - @devices.each do |device|
                %tr
                  %td
                    = device[0]
                  %td
                    = device[1]
