<!DOCTYPE html>

%html
  %body
    %table
      %tr
        %td= @app.application_name
        %td= link_to "Repo GitHub", "#"
        %td= link_to "Show team members", "#"

      - @reports.each do |stack|
        %tr
          %td= stack.type
          %td= @reports.count { |report| report.type == stack.type }
          %td= stack.version
          %td= check_box_tag "Fixed", "1", stack.fixed
          %td= link_to "Issues", "#"
          %td= link_to "Create issue", "#"
