.container
  = form_tag application_send_mail_tm_path(@application.id), method: :post do
    .row
      .col-md-12.col-md-offset-0

        .page-header
          .btn-toolbar.pull-right
            .btn-group
              = submit_tag "Send", class: "btn btn btn-success"
          %h1.text-info
            = "Send an email to #{@user.name}"
    .row
      .col-md-6
        %ul.list-group
          %li.list-group-item

            %h3.text-info
              Subject
            = text_field_tag :subject, '', :class => 'form-control'

            %h3.text-info
              Text
            = text_area_tag  :text, '', class: 'form-control', rows: '5', cols: '100'

            = hidden_field_tag :sender, session[:user_id]
            = hidden_field_tag :user_id, @user.name
