.container-fluid
  .row
    .col-md-12.col-md-offset-0
      .page-header
        .btn-toolbar.pull-right
          .btn-group
        %h1.text-info
          = "#{@application.application_name} team members list"
  .row
    .col-md-6.col-md-offset-0
      %h3.text-info Team Leader
      %ul.list-group
        %li.list-group-item
          %span
            = "#{@application.author}"
      %h3.text-info Contributors
      %ul.list-group
        - unless @application.users.length == 0
          - for i in 0..(@application.users.length - 1) do
            %li.list-group-item
              - unless @application.author == @application.users[i].name
                %span
                  .btn-toolbar.pull-right
                    .btn-group
                      = link_to user_path(@application.users[i]), :class => "btn btn-info btn-sm" do
                        %i.glyphicon.glyphicon-eye-open
                      - if @application.author == session[:user_id] && @application.users[i].name != session[:user_id]
                        = link_to  application_contributor_path(@application, @application.contributors[i]), method: :delete, :class => "btn btn-danger btn-sm" do
                          %i.glyphicon.glyphicon-trash
                  = @application.users[i].name
        - else
          %li.list-group-item
            No contributors found
