<!DOCTYPE html>

%html
  %body
    Edit user info
    %br

    = form_tag user_path(@user), method: :put do

      = label_tag :secondary_email, "Secondary email"
      = email_field_tag :secondary_email, @user.secondary_email

      %br
      %br
      = label_tag :phone, "Phone number"
      = text_field_tag :phone, @user.phone

      %br
      %br
      = label_tag :bio, "Bio"
      = text_area_tag :bio, @user.bio

      %br
      %br
      = submit_tag "Submit"
