%h1= current_user.name
%ul
  %li
    Name:
    = current_user.name
  %li
    Email:
    = current_user.email

%h2 Application list:

%ul
  - current_user.applications.each do |application|
    %li
      = application.application_name
      Role:
      - if application.author == current_user.name
        = "team leader"
      - else
        = "contributor"
      = link_to "Go to the app page",
        user_application_path(current_user, application), method: :get

= button_to "Add a new application",
            new_user_application_path(current_user),
            method: :get
= button_to "Logout", users_logout_path, method: :get
