%h1= current_user.name
%ul
  %li
    Name:
    = current_user.name
  %li
    Email:
    = current_user.email

%h2 Application list:

- if current_user.applications
  tu madre
  %ul
    - current_user.applications.each do |application|
      %li
        = application.application_name
        Role:
        - if application.author == @user.name
          = "team leader"
        - else
          = "contributor"
        = link_to "Go to the app page", applications_path(application)
- else
  No applications yet

= button_to "Logout", users_logout_path, method: :get
