.container-fluid
  .row
    .col-md-12.col-md-offset-0
      .page-header
        .btn-toolbar.pull-right
          .btn-group
            - if current_user.name == @user.name
              = link_to "Edit user details",
                          edit_user_path(@user.name),
                          method: :get, :class => "btn btn-info"
            - current_user.applications.each do |app|
              - unless @user.in?(app.users)
                = link_to "Invite #{@user.name} to #{app.application_name}",
                  user_application_invitations_path(@user, app), method: :post, :class => "btn btn-success"
        %h1.text-info
          = "Details about #{@user.name}"
  .row
    .col-md-6
      %h3.text-info Name
      %ul.list-group
        %li.list-group-item
          %span
            = @user.name
      %h3.text-info Email
      %ul.list-group
        %li.list-group-item
          %span
            = @user.email

      - if @user.secondary_email && @user.secondary_email != ''
        %h3.text-info Secondary email:
        %ul.list-group
          %li.list-group-item
            %span
              = @user.secondary_email
      - if @user.phone
        %h3.text-info Phone number:
        %ul.list-group
          %li.list-group-item
            %span
              = @user.phone
    .col-md-6
      %h3.text-info Bio
      %ul.list-group
        %li.list-group-item
          %span
            - if @user.bio && @user.bio != ''
              = @user.bio
            - else
              There isn't a bio available yet
