%h1 #(@user.name)
%ul
  %li
    Name:
    = @user.name
  %li
    Email:
    = @user.email

%h2 Application list:
  %ul
    - @user.applications.each do |application|
      %li
        = application.application_name
        Role:
        - if application.author == @user.name
          = "team leader"
        - else
          = "contributor"
        = link_to "Go to the app page", applications_path(application)
