.container-fluid
  .row
    .col-md-12.col-md-offset-0
      .page-header
        .btn-toolbar.pull-right
          .btn-group
        %h1.text-info Search Results
  .row
    .col-md-6.col-md-offset-0
      %h3.text-info Applications
      - unless @applications == []
        %ul.list-group
          - @applications.each do |r|
            %li.list-group-item
              %span
                .btn-toolbar.pull-right
                  .btn-group
                    = link_to "https://github.com/#{r.github_repository}", :class => "btn btn-info btn-sm" do
                      %i.glyphicon.glyphicon-globe
                    = link_to user_application_show_public_path(r.author, r), :class => "btn btn-info btn-sm" do
                      %i.glyphicon.glyphicon-eye-open
                = "#{r.application_name}, by #{r.author}"
      - else
        %ul.list-group
          %li.list-group-item
            %span
              No application found.

      %h3.text-info Users
      - unless @users == []
        %ul.list-group
          - @users.each do |user|
            %li.list-group-item
              %span
                .btn-toolbar.pull-right
                  .btn-group
                    = link_to 'Details', user_path(user), method: :get, :class => "btn btn-info btn-sm" do
                      %i.glyphicon.glyphicon-eye-open
                = user.name
      - else
        %ul.list-group
          %li.list-group-item
            %span
              .btn-toolbar.pull-right
                .btn-group
              No user found.
